* {
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  margin: 0;
  padding-bottom: 3rem;
  background: #f9f9f9;
}

#form {
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#name {
  border: 1px solid #ff69b4;
  border-radius: 3px;
  color: #2f2f2f;
  padding: 0 1rem;
  flex-grow: 1;
  margin: 0.25rem;
  max-width: 120px;
}
#input {
  border: 1px solid #ff69b4;
  border-radius: 3px;
  color: #2f2f2f;
  flex-grow: 1;
  padding: 0 1rem;
  margin: 0.25rem;
}
#form > button {
  border: 1px solid #ff69b4;
  background-color: #f9f9f9;
  border-radius: 3px;
  color: #2f2f2f;
  margin: 0.25rem;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: #f9f9f9;
}
